@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600|Roboto+Condensed:300');

/****** Variables******
***********************/

$header-purple: #2F2235;
$btn-purple: #3F3244;
$title-primary: #fff;
$title-secondary: #34D1D1;
$dark-grey: #666;
$medium-grey: #D1D2D3;
$light-grey: #f2f2f2;
$tab-title: #000;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

/******** Header ********
*************************/

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: $header-purple;
  hr {
    width: 25%;
    margin: 0 auto;
    opacity: .3;
  }
}

.title-primary,
.title-secondary {
  font-weight: 300;
  text-transform: uppercase;
  margin: 8px 0;
}

.title-primary {
  color: $title-primary;
}

.title-secondary {
  color: $title-secondary;
}

.student-name {
  color: $title-primary;
  font-size: .9em;
  font-weight: 600;
  margin: 10px 0;
}

/**** Feature Modules ****
*************************/

.wrapper {
  width: 90%;
  max-width: 1024px;
  min-height: 100vh;
  margin: 0 auto;
}

.module {
  position: relative;
  margin: 80px 0 0 0;
  padding: 0 0 50px 0;
  min-height: 600px;
}

.module-title {
  display: flex;
  flex-direction: column;
  color: $dark-grey;
  font-size: .95em;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0 55px 0;
}

hr {
  margin: 10px auto 0 auto;
  width: 25%;
  border-bottom: none;
  color: $light-grey;
  opacity: .75;
}

/**** Accordion Tabs ****
*************************/

.accordion-tabs {
  border: 1px solid $medium-grey;
}

.tab {
  border-top: 2px solid $title-primary;
}

.accordion-tabs .tab:first-child {
  border-top: 2px none;
}

.tab-title {
  display: flex;
  justify-content: space-between;
  background-color: $light-grey;
  color: $dark-grey;
  cursor: pointer;
  font-weight: 300;
  padding: 10px;
  margin: 0;
  &::after {
    content: '+';
  }
}

.selected {
  background-color: $title-primary;
  font-weight: 600;
  border-top: none;
  &::after {
    content: '-';
  }
}

.inner-content {
  display: none;
}

.inner-content > * {
  padding: 10px;
}

.expanded {
  display: block;
}

.text h3 {
  padding: 0 0 10px 0;
  border-bottom: 1px solid $medium-grey;
}

.img-placeholder,
.img-placeholder-card {
  display: block;
  height: 150px;
  width: 100%;
  padding: 0;
  border: 1px solid $medium-grey;
}

.code-btn {
  display: block;
  width: 100%;
  margin: 30px 0 0 0;
  padding: 15px 0;
  background-color: $btn-purple;
  border-style: none;
  font-size: 1.2em;
  font-weight: 300;
  text-transform: uppercase;
  a {
    display: block;
    width: 100%;
    color: #fff;
    text-decoration: none;
  }
}

/**** Flexible Cards ****
*************************/

.flex-cards {
  display: flex;
  flex-direction: column;
}

.card {
  margin: 0 0 15px 0;
  border: 1px solid $medium-grey;
  h3 {
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/**** Navigation Bar ****
*************************/

nav {
  display: flex;
  flex-direction: column;
  background: $medium-grey;
  h3 {
    color: $dark-grey;
    font-weight: 300;
    text-transform: uppercase;
  }
}

.mobile-menu {
  display: none;
  background-color: $light-grey;
  list-style-type: none;
  margin: 0;
  padding: 10px 0 0 0;
  li {
    cursor: pointer;
    padding: 15px 15px 20px;
  }
}

.open {
  display: block;
}

.mobile-nav {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $medium-grey;
}

.menu-btn {
  display: block;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 1px solid $light-grey;
  cursor: pointer;
}

.search-wrap {
  position: relative;
  display: flex;
  align-items: center;
}

.search-icon {
  position: absolute;
  left: 20px;
  width: 15px;
  height: 15px;
}

.nav-search {
  display: block;
  width: 100%;
  padding: 10px 10px 10px 25px;
  background-color: rgba(255, 255, 255, .8);
  color: $medium-grey;
  font-size: .85em;
  font-weight: 300;
  border: 1px solid rgba(0, 0, 0, .25);
}



@media screen and (min-width: 600px) {

  .module:nth-child(even) {
    margin: 150px 0 0 0;
  }

  .module-title {
    flex-direction: row;
    align-items: center;
    hr {
     margin: 0 0 0 auto;
     width: 70%;
   }
  }

  header {
    flex-direction: row;
    padding: 0 5%;
    hr {
      display: none;
    }
  }

  .accordion-tabs {
    display: flex;
    position: relative;
    width: 95%;
    margin: 0 auto;
    border: none;
  }

  .tab {
    width: 25%;
    border: none;
    max-height: 450px;
  }

  .tab-title {
    border: 1px solid #fff;
    border-bottom: 1px solid $medium-grey;
    font-size: 1.1em;
    justify-content: center;
    &::after {
      content: '';
    }
  }

  .tab-title.selected {
    border: 1px solid $medium-grey;
    border-bottom: none;
  }

  .inner-content {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 0 30px 0;
    overflow: auto;
    border: 1px solid $medium-grey;
    border-top: none;
  }

  .img-placeholder {
    width: 35%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 2.5%;
    height: 80%;
  }

  .text {
    width: 60%;
    height: 450px;
    overflow: auto;
    margin: 0 0 0 auto;
  }

  .code-btn {
    margin: 40px auto;
    width: 40%;
  }

  .acc-btn {
    position: absolute;
    bottom: -75px;
    left: 0;
    right: 0;
    margin: auto;
  }

  /**** Flexible Cards ****
  *************************/

  .flex-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
  }

  .card {
    flex: 1 0 32%;
    max-width: 32%;
    margin: 1% 0;
    h3 {
      padding: 0 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .card-grow {
    flex: 2 0 66%;
    max-width: 66%;
  }

/**** Navigation Bar ****
*************************/

  nav {
    width: 95%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    h3 {
      display: none;
    }
  }

  .menu-btn {
    height: 40px;
    width: 40px;
    cursor: default;
  }

  .mobile-menu {
    padding-top: 0;
    display: flex;
    background-color: $medium-grey;
    align-items: center;
    li {
      padding: 20px;
      font-size: .8em;
    }
  }

  .nav-search {
    background-color: $light-grey;
  }

  .search-icon {
    left: 27px;
  }

}


@media screen and (min-width: 850px) {

  .module hr {
    width: 80%;
  }

}
